@charset "UTF-8";
#grad {

}
	
		body {
		
  background-image: linear-gradient(to bottom right, lightpink, white);
			height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
		
 
			
}
	h1 {
		color: white;
		font-family: cursive;
	}